{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ if .IsHome}}
<div style="border:1px solid black; padding:10px">
  <div style="display: flex; align-items:center; justify-content: space-around;">
      <img src="img/avatar.jpg" style="width: 40%; display:table-cell">
      <div>
        <h2>My name is Anthony</h2> and I like to use data to solve problems.
      </div>
  </div>
  
  <div>
    <p>Some things I've created are: </p>
    <ul>
      <li>This website!</li>
      <li>A dashboard to visualize the time I spend focusing every day.</li>
      <li>A cost saving calculator to determine break even amounts between 2 purchase options.</li>
      <li>A Python script hosted on a Raspberry Pi that logs the price of Bitcoin every 40 seconds.</li>
    </ul>
  </div>
</div>

<hr>

<h2>Blog</h2>
{{end}}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
